/*.table_dark {*/
/*    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
/*    font-size: 14px;*/
/*    width: 640px;*/
/*    text-align: left;*/
/*    border-collapse: collapse;*/
/*    background: #252F48;*/
/*    margin: 10px;*/
/*    color: white;*/
/*}*/
/*.table_dark th {*/
/*    color: #EDB749;*/
/*    border-bottom: 1px solid #37B5A5;*/
/*    padding: 12px 17px;*/
/*}*/
/*.table_dark td {*/
/*    color: #CAD4D6;*/
/*    border-bottom: 1px solid #37B5A5;*/
/*    border-right:1px solid #37B5A5;*/
/*    padding: 7px 17px;*/
/*}*/
/*.table_dark tr:last-child td {*/
/*    border-bottom: none;*/
/*}*/
/*.table_dark td:last-child {*/
/*    border-right: none;*/
/*}*/
/*.table_dark tr:hover td {*/
/*    text-decoration: underline;*/
/*}*/

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

a.link_ {
    color: #000000;
    text-decoration: none;
}
a.link_:hover{
    text-decoration: underline;
    color: #0a53be;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.nav_back {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}
.pagination {
    display: flex;
    padding-left: 1em;
    list-style: none;
    justify-content: flex-start;
}

.h1_margin{
    margin-bottom: 3rem;
    margin-top: 2rem;
    margin-left: 4rem;
}

.nav_margin{
    margin-bottom: 2rem;
}

.form_elem{
    margin-bottom: 1rem;
    /*margin-top: 2rem;*/
    margin-left: 3rem;
}
.input_margin{
    margin-left: 10px;
    margin-right: 10px;
}

.body_margin{
    margin-bottom: 4rem;
}
.font-bold {
    font-weight: bold;
}