<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <title>Детализация документа</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="h1_margin">
    <h1 th:text="${doc.getNomerDoc()==null} ?  'Новый документ':'Детализация документа № ' + ${doc.getNomerDoc()}"></h1>
</div>
<div>
    <a href="/document?limit=10&page=1&sorting=new" class="btn btn-primary my-3 mx-3">Назад</a>
</div>
<hr class="mt-2 mb-2">


<form action="#" th:action="@{/document/save}" th:object="${doc}" method="post" enctype="multipart/form-data">
    <section class="my-2">
        <div class="container" th:if="${doc.isDone==false}">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>Загрузить файл</h2>
                    <div class="form-group">
                        <input type="file" name="file" multiple class="form-control-file" accept=".jpg,.jpeg,.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row ">
        <div class="col">
            <input type="hidden" class="form-control" placeholder="id" th:field="*{id}">
            <div class="form-check form_elem" th:if="${user.isModerator()==true}">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" th:field="*{isDone}"> Обработан
                </label>
            </div>
            <div class="form-check form_elem" th:if="${user.isModerator()==false}">
                <label class="form-check-label">
                    <input class="form-check-input" type="hidden" th:field="*{isDone}" readonly>
                    <b><p th:text="${doc.isDone==true}? Обработан "></p></b>
                </label>
            </div>
        </div>
    </div>
    <div class="row input_margin">
        <div class="col">
            <label>Дата документа</label>
            <input type="datetime" class="form-control" placeholder="Дата" th:field="*{dateDoc}"
                   th:readonly="${doc.isDone==true}">
        </div>
        <div class="col">
            <label>Номер документа</label>
            <input type="text" class="form-control" placeholder="Номер" th:field="*{nomerDoc}"
                   th:readonly="${doc.isDone==true}">
        </div>
        <div class="col">
            <label>Сумма</label>
            <input type="number" step="any" class="form-control" placeholder="Сумма" th:field="*{sum}"
                   th:readonly="${doc.isDone==true}">
        </div>
        <div class="col">
            <label>Поставщик</label>
            <input type="text" class="form-control" placeholder="Поставщик" th:field="*{supplier}"
                   th:readonly="${doc.isDone==true}">
        </div>
    </div>

    <div class="nav_margin"></div>

    <div class="row input_margin" th:if="${doc.getNomerDoc()!=null}">
        <div class="col">
            <label>Дата Добавления</label>
            <input class="form-control" type="datetime" placeholder="Создали" th:field="*{dateCreate}" readonly>
        </div>
        <div class="col">
            <label>Автор</label>
            <input class="form-control" type="text" placeholder="Автор" th:field="*{autor}" readonly>
        </div>
        <div class="col">
            <label>Дата изменения</label>
            <input class="form-control" type="datetime" placeholder="Последнее изменение" th:field="*{dateLastEdit}"
                   readonly>
        </div>
        <div class="col">
            <label>Автор Изменения</label>
            <input class="form-control" type="text" placeholder="Измененил" th:field="*{userLastChange}" readonly>
        </div>

    </div>
    <br>
    <button type="submit" class="btn btn-primary form_elem" th:disabled="${doc.isDone==true && user.isModerator()==false}">Записать документ</button>
</form>


<div class="container">
    <hr class="mt-2 mb-2">
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6" th:each="file :${files}">
            <a th:href="'/document/file/delete/'+${file.id}" class="btn btn-primary" th:classappend="${doc.isDone==true}? 'btn-lg disabled'" th:text="Удалить"></a>
            <a th:href="@{${file.path}}" class="d-block mb-4 h-100" target="_blank">
                <img class="img-fluid img-thumbnail" th:src="@{${file.path}}" alt="">

            </a>

        </div>
    </div>
    <hr class="mt-2 mb-2">
</div>
<br>

<script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>