<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Приходные документы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
    <H1>Приходные документы</H1>
    <table class="table_dark">
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Изменение</th>
        </tr>
        <tr th:each="doc:${docs}" >
            <td></td>
            <td>
                <a class="link" th:text="${doc.dateCreate}" th:href="@{http://localhost:8080/details(orderId=${doc.id})}"></a>
                </td>
            <td>
                <a class="link" th:text="${doc.header}" th:href="@{http://localhost:8080/details(orderId=${doc.id})}"></a>
            </td>
            <td>
                <a class="link" th:text="${doc.autor.name+' : '+doc.autor.shop}" th:href="@{http://localhost:8080/details(orderId=${doc.id})}"></a>
            </td>
            <td>
                <a class="link" th:text="${doc.userLastChange.name}" th:href="@{http://localhost:8080/details(orderId=${doc.id})}"></a>
            </td>
        </tr>
    </table>
</body>
</html>